.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

@media(max-width: 768px) {
    .blog-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px) {
    .blog-container {
        grid-template-columns: repeat(1, 1fr);
    }
}